In [3]:
v = [1, 2, 3, 4, 5]

In [1]:
import numpy as np

In [4]:
a = np.array(v)

In [5]:
a = np.arange(15).reshape(5, 3)

In [6]:
a

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11],
       [12, 13, 14]])

In [7]:
import pandas as pd

In [8]:
columns = list('abc')

In [9]:
columns

['a', 'b', 'c']

In [10]:
index = pd.date_range('2021-7-1', periods=5, freq='B')

In [11]:
index

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-05', '2021-07-06',
               '2021-07-07'],
              dtype='datetime64[ns]', freq='B')

In [12]:
df = pd.DataFrame(a, columns=columns, index=index)

In [13]:
df

             a   b   c
2021-07-01   0   1   2
2021-07-02   3   4   5
2021-07-05   6   7   8
2021-07-06   9  10  11
2021-07-07  12  13  14

In [14]:
2 * df

             a   b   c
2021-07-01   0   2   4
2021-07-02   6   8  10
2021-07-05  12  14  16
2021-07-06  18  20  22
2021-07-07  24  26  28

In [15]:
df.sum()

a    30
b    35
c    40
dtype: int64

In [20]:
np.mean(df)

np.float64(7.0)

In [21]:
df['a'] + df['c']

2021-07-01     2
2021-07-02     8
2021-07-05    14
2021-07-06    20
2021-07-07    26
Freq: B, dtype: int64

In [22]:
0.5 * df.a + 2 * df.b - df.c

2021-07-01     0.0
2021-07-02     4.5
2021-07-05     9.0
2021-07-06    13.5
2021-07-07    18.0
Freq: B, dtype: float64

In [24]:
df['a'] > 5

2021-07-01    False
2021-07-02    False
2021-07-05     True
2021-07-06     True
2021-07-07     True
Freq: B, Name: a, dtype: bool

In [26]:
df[df['a'] > 5]

             a   b   c
2021-07-05   6   7   8
2021-07-06   9  10  11
2021-07-07  12  13  14

In [27]:
df['c'] > df['b']

2021-07-01    True
2021-07-02    True
2021-07-05    True
2021-07-06    True
2021-07-07    True
Freq: B, dtype: bool

In [28]:
0.15 * df.a + df.b > df.c

2021-07-01    False
2021-07-02    False
2021-07-05    False
2021-07-06     True
2021-07-07     True
Freq: B, dtype: bool